<%- include('header', { user: user, guild: guild, activePage: 'servers' }) %>

<div class="main-content">
    <h1>Servidores</h1>
    <p>Aqui estão todos os servidores que você gerencia (Dono ou Administrador). Apenas servidores onde o **Universal Bot** está presente podem ser configurados.</p>

    <div class="guild-list">
        <% guilds.forEach(g => { %>
            <div class="guild-item <%= g.isInBot ? 'ready' : 'invite' %>">
                <img src="<%= g.icon ? `https://cdn.discordapp.com/icons/${g.id}/${g.icon}.png` : '/images/default-server-icon.png' %>" 
                     alt="Ícone" class="guild-icon">
                
                <div class="guild-details">
                    <span class="guild-name"><%= g.name %></span>
                    <span class="guild-role-tag"><%= g.userRole %></span> 
                </div>

                <% if (g.canConfigure) { %>
                    <a href="/dashboard/<%= g.id %>" class="btn btn-primary status-btn">Configurar</a>
                <% } else { %>
                    <a href="<YOUR_BOT_INVITE_LINK>&guild_id=<%= g.id %>" target="_blank" class="btn btn-invite status-btn">Convidar</a>
                <% } %>
            </div>
        <% }); %>
    </div>
</div>

<%- include('footer') %>