<%- include('header', { user: user, guild: null, activePage: 'home' }) %>

<div class="main-content">
    <h1>Bem-vindo(a), <%= user.username %>!</h1>
    <p>Selecione um servidor para configurar o bot:</p>
    
    <div class="guild-list">
        <% guilds.forEach(guild => { %>
            <% 
                const isAdmin = (guild.permissions & 0x8) === 0x8;
                const canManage = (guild.permissions & 0x20) === 0x20;
            %>
            
            <% if (isAdmin || canManage) { %>
                <a href="/dashboard/<%= guild.id %>" class="guild-item">
                    <img src="<%= guild.icon ? `https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}.png?size=128` : '/images/default-guild.png' %>" alt="Icone" class="guild-icon">
                    <span class="guild-name"><%= guild.name %></span>
                    <span class="status-badge ready">Configurar</span>
                </a>
            <% } else { %>
                <div class="guild-item disabled">
                    <img src="<%= guild.icon ? `https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}.png?size=128` : '/images/default-guild.png' %>" alt="Icone" class="guild-icon">
                    <span class="guild-name"><%= guild.name %></span>
                    <span class="status-badge denied">Permissão Negada</span>
                </div>
            <% } %>
        <% }); %>
    </div>
</div>

<%- include('footer') %>