<% includeFile('header', { user: user, guild: guild, activePage: 'events' }) %>

<div class="main-content">
    <h1>Logs Recentes de <%= guild.name %></h1>
    
    <div class="log-info-box">
        <p>A exibição de logs (mensagens editadas/apagadas, etc.) requer que você configure o bot para armazenar esses dados no QuickDB.</p>
    </div>
    
    <div class="log-list">
        <% logs.forEach(log => { %>
            <div class="log-item log-<%= log.type.toLowerCase() %>">
                <span class="log-type">[<%= log.type %>]</span>
                <span class="log-message"><%= log.message %></span>
                <span class="log-time"><%= log.timestamp.toLocaleString() %></span>
            </div>
        <% }); %>
    </div>
</div>

<% includeFile('footer') %>