<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Universal Bot | Dashboard</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="<%= user.avatar ? `https://cdn.discordapp.com/avatars/${user.id}/${user.avatar}.png` : '/images/default-icon.png' %>" type="image/png">
    <script>
        function toggleTheme() {
            document.body.classList.toggle('dark-mode');
            const isDarkMode = document.body.classList.contains('dark-mode');
            localStorage.setItem('theme', isDarkMode ? 'dark' : 'light');
        }
        document.addEventListener('DOMContentLoaded', () => {
            const savedTheme = localStorage.getItem('theme') || 'light';
            if (savedTheme === 'dark') {
                document.body.classList.add('dark-mode');
            }
        });
    </script>
</head>
<body>

<div id="wrapper">
    <nav id="sidebar">
        <div class="sidebar-header-title">
            <img src="/images/default-icon.png" alt="Logo" class="bot-logo">
            <h1>Universal Bot</h1>
        </div>

        <ul class="list-unstyled components">
            <li class="<%= activePage === 'servers' ? 'active' : '' %>">
                <a href="/dashboard">Seus Servidores</a>
            </li>
            <li class="<%= activePage === 'updates' ? 'active' : '' %>">
                <a href="/updates">Atualizações</a>
            </li>
            
            <% if (guild) { %>
                <li class="separator">CONFIGURAÇÕES DE <%= guild.name.toUpperCase() %></li>
                <li class="<%= activePage === 'settings' ? 'active' : '' %>">
                    <a href="/dashboard/<%= guild.id %>">Geral</a>
                </li>
                <li class="<%= activePage === 'welcome' ? 'active' : '' %>">
                    <a href="/dashboard/<%= guild.id %>/welcome">Boas-Vindas</a>
                </li>
            <% } %>

            <li class="separator">MISCELÂNEA</li>
            <li><a href="/logout">Sair</a></li>
        </ul>
        
        <%- include('user_profile_footer', { user: user }) %>
    </nav>

    <div id="content">