<nav id="sidebar">
    <div class="sidebar-header-title">
        <img src="<%= botAvatarUrl %>" alt="Logo" class="bot-logo">
        <h1>Universal Bot</h1>
    </div>

    <ul class="list-unstyled components">
        
        <% if (guild) { %>
            <li class="<%= activePage === 'servers' ? 'active' : '' %>">
                <a href="/dashboard">Voltar</a>
            </li>
            <li class="separator">CONFIG. <%= guild.name.toUpperCase() %></li> 
            
            <li class="<%= activePage === 'settings' ? 'active' : '' %>">
                <a href="/dashboard/<%= guild.id %>">Config. Geral</a> 
            </li>
            <li class="<%= activePage === 'welcome' ? 'active' : '' %>">
                <a href="/dashboard/<%= guild.id %>/welcome">Boas-Vindas</a>
            </li>
            <li class="<%= activePage === 'autorole' ? 'active' : '' %>">
                <a href="/dashboard/<%= guild.id %>/autorole">AutoRole</a>
            </li>
            <li class="<%= activePage === 'eventlogs' ? 'active' : '' %>">
                <a href="/dashboard/<%= guild.id %>/eventlogs">Event Logs</a>
            </li>
            
        <% } else { %>
            <li class="<%= activePage === 'servers' ? 'active' : '' %>">
                <a href="/dashboard">Seus Servidores</a>
            </li>
            <li class="<%= activePage === 'updates' ? 'active' : '' %>">
                <a href="/updates">Atualizações</a>
            </li>
        <% } %>

        <li class="separator">MISCELÂNEA</li>
        <li><a href="/logout">Sair</a></li>
    </ul>
    
    <%- include('user_profile_footer', { user: user }) %>
</nav>